/* HTML */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Configs na scrollbar */
::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #5597FA; 
    border-radius: 10px; 
    border: 2px solid #fff; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #345e9c; 
}

::-webkit-scrollbar-thumb:active {
    background-color: #122035; 
}


/* Body */
body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    transition: all 0.3s ease;
}

/* Navbar */
.navbar{
    display: flex;
    color: white;
    background-color: #5597FA;
    font-family: Inter;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 20px;
    height: 35px;
    z-index: 1;
    border-bottom:2px solid #FFFFFF;
    transition: all 1s ease-in-out;
}

.navbar i{
    color: white;
    position: relative;
    top: 1.5px;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar li{
    cursor: pointer;
    height: 60px;
    transform: translateY(20px);
}

.navbar>.itensLogin {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar>.itensLogin p {
    margin-right: 10px;
}

.navbar>.itensLogin img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.navbar>.itensLogin img:hover {
    height: 53px;
    width: 53px;
    transition: 0.5s;
}

.navbar a{
    color: #FFFFFF;
    text-decoration: none;
}

.downdrop {
    width: 160px;
    position: absolute;
    opacity: 1;
    background-color: #5597FA;
    margin-right: -40px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    text-align: center;
    margin-top: 10px;
    transform: translateY(20px);
    max-height: 300px;
    display: none;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

.downdrop hr{
    width: 130px;
    border: 1px solid #ffffff;
    transform: translateX(-35.5px);
}

.downdrop p{
    padding-bottom: 15px;
    padding-top: 15px;
    transform: translateX(-45px);
    width: 150px;
}

.downdrop p:hover{
    background-color: #345e9c;
}

.centerdrop {
    margin-left: -15px;
}

.underp {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60px;
    transform: translateY(-50px);
}

.underdrop {
    background-color: #FFFFFF;
    height: 1px;
    margin-bottom: -1px;
    width: 0;
    transition: all 0.4s ease;
}

/* Primeira seção */

#logolimpo {
    background-image: url('../../Imagens/ImagensLandingPage/LogoOlimpo.png'); /* Use barra normal */
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-left: -50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#logolimpo:hover {
    background-image: url('../../Imagens/ImagensLandingPage/LogoOlimpo2.1.png'); /* Corrija também no hover */
}


.bluesect {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    font-family: Archivo;
    color: #5597FA;
    width: 90%;
    height: max-content;
    align-items: center;
    padding-top: 115px;
    transition: all 0.2s ease;
}
#linkIA{
    border: 2px solid #5597FA;
    border-radius: 4px;

    margin-left: 8px;
    margin-top: 30px;

    background-color: transparent;
    color: #5597FA;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 30px;

    text-decoration: none;
    font-size: 17px;
}

#linkIA:hover{
    background-color: #5597FA;
    border: 2px solid transparent;
    color: #FFFFFF;
}

.bluesect h1{
    font-size: 128px;
    margin-bottom: auto;
    margin-top: -170px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.bluesect p{
    font-size: 50px;
    margin-left: 8px;
    font-weight: 200;
    margin-top: 5px;
    width: 700px;
    transition: all 0.2s ease;
}

#maocelular {
    background-image: url('../../Imagens/ImagensLandingPage/MaoCelular.png');
    width: 385px;
    height: 619px;
    background-size: cover;
}

/* Terceira seção */
#missao{
    display: flex;
    font-family: Inter;
    width: 102%;
    height: 528px;
    justify-content: space-around;
    align-items: center;
    margin-left: -120px;
    background-color: #5597FA;
    padding-right: 1.25%;
    transform: translateX(80px);
}

#missao h1 {
    color: #FFFFFF;
    font-size: 30px;
    padding-bottom: 18px;
    margin-top: -11px;
}

#missao p{
    font-size: 16px;
    color: #FFFFFF;
}

#missao div {
    width: 300px;
}

#divMissao {
    margin-top: -120px;
}

/* Quarta seção */

#equipe h1 {
    color: #5597FA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    padding-top: 73px;
    padding-bottom: 115px;
    text-align: center;
}

#quatro {
    background-color: #FFFFFF;
    height: 629.5px;
    font-family: Inter;
}


#fotogrupo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
    gap: -580px;
}

#fotogrupo p{
    width: 492px;
}

#fotogrupo img {
    width: 498px;
    height: 311px;
    border-radius: 5px;
}

#fotogrupo2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
    margin-top: 100px;
}

#fotogrupo2 p{
    width: 492px;
}

#fotogrupo2 img {
    width: 498px;
    border-radius: 5px;
}

/* Quinta seção */

#cinco {
    background-color: #FFFFFF;
    height: 652px;
    font-family: Inter;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

#servicos {
    color: #5597FA;
    text-align: center;
    margin-bottom: 73px;
}

#servcards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 120px;
}

#servcards div{
    width: 324px;
    height: 303px;
    border: 2px solid #5597FA;
    box-shadow: 0px 0px 30px #345e9c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#servcards h1{
    font-size: 25px;
    color: #5597FA;
}

#servcards p{
    font-size: 14px;
    width: 300px;
    height: 95px;
    text-align: center;
}

#servcards div:hover{
    width: 382px;
    height: 343px;
    margin-left: -29px;
    margin-right: -29px;
    margin-bottom: -100px;
    margin-top: -100px;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 0);
    h1{
        font-size: 28px;
    }
    p{
        width: 310px;
        font-size: 15px;
    }
}

/* Sexta seção  */

#ods{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: Inter;
    img {
        width: 400px;
        border: 2px solid #5597FA;
        box-shadow: 0px 0px 30px #345e9c;
    }
    h1{
        font-size: 48px;
        color: #5597FA;
        margin-bottom: 100px;
        text-align: center;
    }
    #ODS {
        color: #2D8CFF;
        font-weight: bold;
        text-align: center;
        margin: 40px 0 50px 0;
        font-size: 40px;
    }
    p{
        text-align: center;
        width: 42%;
        font-size: 22px;
        margin-top: 75px;
        letter-spacing: 1px;
    }
    a{
        font-size: 18px;
        margin-top: 10px;
        color: #5597FA;
    }
}

#ods a:visited{
    color: #345e9c;
}

/* Rodapé */

#rodape {
    height: 170px;
    font-family: Archivo;
    color: #ffffff;
    background-color: #5597FA;
    font-size: 17px;
}

#rodape h1{
    margin-left: 33px;
    padding-top: 20px;
    margin-bottom: -20px;
}

#redes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: Inter;
    margin-left: -175px;
    margin-top: 50px;
}

#redes container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#redes a {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 70px;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: -20px;
    text-decoration: none;
}

#redes i{
    margin-right: 5px;
}

.cnpjright {
    margin-left: 33px;
    color: #345e9c;
    margin-top: 25px;
}

