* {
    padding: 0;
    margin: 0;
    font-family: "Archivo", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 150px;
}

#dashboard, #crud {
    background-color: #5597FA;
    padding: 45px;
    border-radius: 15px; /* Bordas arredondadas */
    width: 300px; /* Largura maior para formato retangular horizontal */
    height: 100px; /* Altura menor */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 4.5vh;
}

#dashboard:hover, #crud:hover {
    background-color: #6da5f9;
}
